* {
  box-sizing: border-box;
}

.form-control {
  border-radius: 8px;
  display: block;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.01em;
  color: #555555;
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
  background: #f0f0f0;
  border: none;
}

.form__label span {
}

.via {
  border-radius: 8px;
  display: block;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #333333;
  letter-spacing: 0.01em;
  margin-top: 5px;
  padding: 5px 10px;
  width: 100%;
  background: #fff;
  border: 1px solid #2a2a2e;
}
.download {
  background-color: #fff;
  border-radius: 32px;
  display: block;
  margin-top: 5px;
  text-align: center;
  padding: 5px 10px;
  line-height: 22px;
  width: 100%;
  height: 160px;
  border: none;
  background: #f0f0f0;
}
.form__label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 28px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  align-items: center;
  color: #333333;
}

.form {
  width: 100%;
  padding: 30px 10px 10px 10px;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  color: #243238;
  max-width: 500px;
  margin: auto;
}

.btn {
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }
}

.btn1 {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  padding: 0 20px;
  background: linear-gradient(114.44deg, #0038f5 0%, #9f03ff 100%);
  border-radius: 8px;
  height: 50px;
  width: 100%;
}

.btn2 {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  background: linear-gradient(114.44deg, #0038f5 0%, #9f03ff 100%);
  border-radius: 8px;
  height: 50px;
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn3 {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555555;
  border: 1px solid #0038f5;
}

.photo {
  margin-right: 10px;
}

.text {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #555555;
}

.avatar {
  background-image: url(/assets/images/Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 160px;
  position: relative;
}

.radius {
  display: flex;
  position: relative;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  z-index: 1;
  margin: 10px;
}

.ikon {
  position: absolute;
  right: 0;
  display: flex;
}

.avatar-image {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0 0;
}

.title {
  line-height: 1.75;
  font-size: 18px;
  margin: 0;
}

.add {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.browce {
  text-decoration: underline;
  position: relative;
}

.image {
  width: 22px;
  height: auto;
  object-fit: contain;
  margin: 35px 0 0 0;
}

.drag {
  margin: 2px;
}

.verify span {
  line-height: 22px;
  font-size: 16px;
  left: 16px;
  top: 1355.87px;
  color: #555555;
  display: flex;
  padding: 12px 0 0 0;
}

.verify {
  display: flex;
  padding: 40px 0 20px 0;
  color: #333333;
}

.search {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin: 30px;
}

.menu {
  margin: 10px;
}

.notbold {
  font-weight: none;
  color: #888888;
}

.about__inner {
  display: flex;
  color: #ccc;
  justify-content: center;
}

.about__info {
  margin-right: 50px;
  flex: none;
  list-style: none;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #F8F8F8
}

.title {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  border-top: 1px solid #ccc;
  padding: 24px 0 0 20px;
  color: #ccc;
  font-family: "Epilogue";
  font-style: normal;
  font-size: 15px;
}

.footer {
  background-color: black;
  padding: 20px 10px 10px 10px;
  margin-top: 20px;
}

.preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}