<app-preloader *ngIf="loading" class="preloader"></app-preloader>

<div class="container">
  <div class="search">
    <img class="menu" src="/assets/images/Search.png" alt="" />
    <img class="menu" src="/assets/images/Menu.png" alt="" />
  </div>
  <div class="avatar">
    <div class="ikon">
      <div class="radius">
        <img class="menu" src="/assets/images/point.png" alt="" />
      </div>
      <div class="radius">
        <img class="menu" src="/assets/images/point1.png" alt="" />
      </div>
    </div>
    <img class="avatar-image" src="/assets/images/Avatar.png" alt="" />
  </div>
  <div class="header">
    <h2 class="title">Gift Habeshaw</h2>
    <span> 52fs5ge5g45sov45a </span>
  </div>
  <form class="form" [formGroup]="myForm" (ngSubmit)="saveForm()">
    <div class="name">
      <label class="form__label">
        Enter your details
        <input
          class="form-control"
          name="name"
          placeholder="Name"
          formControlName="name"
        />
      </label>
    </div>
    <div class="secondname">
      <label class="form__label">
        <input
          class="form-control"
          name="secondname"
          placeholder="User Name"
          formControlName="secondName"
        />
      </label>
    </div>
    <div class="form-group">
      <label class="form__label"
        >Enter your email
        <input
          class="form-control"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
      </label>
      <div
        class="alert alert-danger"
        *ngIf="
          myForm.controls['email'].invalid && myForm.controls['email'].touched
        "
      >
        Error email
      </div>
      <div class="bio">
        <label class="form__label">
          Enter your bio
          <input
            class="form-control"
            name="bio"
            placeholder="Enter your bio here"
            formControlName="bio"
          />
        </label>
      </div>
      <div>
        <label class="form__label"> Upload a profile image. </label>
      </div>
      <div class="download">
        <img class="image" src="/assets/images/Image.png" alt="" />
        <h3 class="drag">
          Drag and drop or
          <span class="browce"> <input type="file" class="add" />browce </span>
          a file
        </h3>
        <label class="notbold"
          >Recommended size: JPG, PNG, GIF (1500x1500px, Max 10mb)</label
        >
      </div>
      <div class="verify">
        <label>
          Verify your profile
          <span
            >Show the Foundation community that your profile is authentic.</span
          >
        </label>
      </div>
      <div class="via">
        <h2>
          <img src="/assets/images/Vector1.png" alt="" /> Verify via Twitter
        </h2>
      </div>
      <div class="via">
        <h2>
          <img src="/assets/images/Vector2.png" alt="" /> Verify via Instagram
        </h2>
      </div>
    </div>
    <div class="verify">
      <label> Add links to your social media profiles. </label>
    </div>
    <div class="form-control" *ngFor="let task of tasks">
      <label class="text"
        ><img class="photo" src="{{ task.image }}" /> {{ task.title }}</label
      >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn1" [disabled]="myForm.invalid">
        Save
      </button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn2" [disabled]="myForm.invalid">
        Earn now
      </button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn3" [disabled]="myForm.invalid">
        Discover more
      </button>
    </div>
    <div class="footer">
      <div class="about__inner">
        <ul class="about__info">
          <li class="about__info-item">Instagram</li>
          <li class="about__info-item">Twitter</li>
          <li class="about__info-item">Discord</li>
          <li class="about__info-item">Blog</li>
        </ul>
        <ul class="about__info">
          <li class="about__info-item">About</li>
          <li class="about__info-item">Community Guidelines</li>
          <li class="about__info-item">Terms of Service</li>
          <li class="about__info-item">Privacy</li>
          <li class="about__info-item">Careers</li>
          <li class="about__info-item">Help</li>
        </ul>
      </div>
      <div>
        <p class="title">© 2021 Openart</p>
      </div>
    </div>
  </form>
</div>
